@font-face {
	/* https://fonts.google.com/specimen/Roboto?selection.family=Roboto */
	font-family: 'Roboto';
	font-style: normal;
	src: local('Roboto'), local('Roboto-Regular'),
		url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2)
			format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
		U+FE2E-FE2F;
}

* {
	font-family: 'Roboto', sans-serif;
	outline-color: var(--blue);
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background: linear-gradient(white, whitesmoke);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	font-family: var(--font);
}
/* 
	Header sizes
*/
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2.2rem;
}
h4 {
	font-size: 1.7rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}

/* 
	Logo (SVG) styles
*/
svg {
	color: var(--pri-color);
}

/* 
	Font styles
*/
.font--light {
	font-weight: 100;
}
.font--dark {
	font-weight: 900;
}

/* 
	Button styles
*/
.btn {
	border: none;
	padding: 1rem;
	margin: auto;
	font-size: 1.5rem;
	border-radius: 40px;
	cursor: pointer;
}
.btn-pri {
	color: whitesmoke;
	background: var(--pri-color);
	border: 3px solid var(--pri-color);
	transition: box-shadow 0.25s;
}
.btn-pri:hover {
	box-shadow: var(--box-shadow);
}
.btn-pri:active {
	color: var(--pri-color);
	background: whitesmoke;
	border: 3px solid var(--pri-color);
}
.btn-sec {
	border: 3px solid var(--pri-color);
	color: var(--pri-color);
	background: whitesmoke;
}
.btn-sec:active {
	color: whitesmoke;
	background: var(--pri-color);
}
.btn-orange {
	background: var(--light-orange);
	color: whitesmoke;
	transition: background 0.25s;
}
.btn-orange:hover {
	background: var(--dark-orange);
}
.btn-blue {
	background: var(--blue);
	color: whitesmoke;
	transition: background 0.25s;
}
.btn-blue:hover {
	background: var(--dark-blue);
}
.btn-caret {
	border: none;
	color: var(--blue);
	margin-left: 0.5rem;
	cursor: pointer;
	outline-color: var(--blue);
}

/* 
	Input styles
*/
.input {
	/* border: 1px solid var(--pri-color); */
	border: none;
	box-sizing: border-box;
	outline: none;
	padding: 0.8rem;
	margin: 0.5rem;
	font-size: 1.2rem;
	display: block;
	border-radius: var(--border-radius);
}
.input-text {
	border: 2px solid grey;
}
.input-text:focus {
	border-color: var(--pri-color);
	box-shadow: 0px 0px 5px 1px grey inset;
}

/* 
	Link styles
*/
.link {
	text-decoration: none;
	color: blue;
}
.link:visited {
	color: purple;
}
.link:hover {
	color: red;
}
