.BudgetPageHeader {
    padding: 0 1rem 1rem 0;
    border-bottom: 1px solid var(--font-color);
    grid-area: BudgetPageHeader;
    display: grid;
    grid-template-areas:
        'month-selector options'
        'left-to-budget options'
    ;
}