:root {
  /* Backgrounds and gradients */
  --fence-img: url('http://mariafresa.net/newimages/background-clipart-wood-11.jpg');
  --white-texture-img: url('https://image.freepik.com/fotos-gratis/parede-de-concreto_1154-641.jpg');
  --grid-img: url('https://66.media.tumblr.com/3f8d9d8c9f63a36d4e6d7162c99eea7d/tumblr_nnh0zu3ixz1telelro1_250.png');
  --linear-gradient-white: linear-gradient(white, whitesmoke);
  --background-gradient-green: linear-gradient(whitesmoke, var(--pri-color));
  
  /* Colors */
  --pri-color: rgb(111, 191, 65);
  --blue: #0097a8;
  --dark-blue: #005f6a;
  --light-orange: rgb(255, 140, 0);
  --dark-orange: rgb(235, 129, 0);
  --red: rgb(255, 57, 57);
  --InputHoverBackground: #f2f2f2;
  --box-shadow-color: rgb(88, 88, 88);
  --progress-bar-background-color: rgb(188, 188, 188);
  
  /* Font */
  --font: Verdana, sans-serif;
  --font-color: #6C6C6C;
  --line-height: 1.6;
  
  /* Layout */
  --box-shadow: 0px 10px 30px -10px var(--box-shadow-color);
  --border-radius: 8px;
  --AppNavigationBar-padding: .5rem;
  --budget-group-border-radius: 15px;
  --budget-group-grid-cols: minmax(200px, 3fr) repeat(2, minmax(150px, 1fr));
  --budget-group-grid-gap: .5rem;
  --details-budget-header: .75rem;
  --details-budget-title: 1.5rem;

  /* Budget Group */
  --group-box-shadow: 0px 0px 10px -3px var(--font-color);
  --group-padding: 1.5rem;

  /* Root styles */
  font-size: 16px;
  color: var(--font-color);
}

