:root {
  --pri-color: rgb(164, 235, 124);
  --blue: #0097a8;
  --dark-blue: #005f6a;
  --light-orange: rgb(255, 140, 0);
  --dark-orange: rgb(235, 129, 0);
  --red: rgb(255, 57, 57);
  --font: Verdana, sans-serif;
  --font-color: #6C6C6C;
  --box-shadow-color: rgb(88, 88, 88);
  --box-shadow: 0px 10px 30px -10px var(--box-shadow-color);
  --background-gradient: linear-gradient(var(--pri-color), whitesmoke);
  --border-radius: 8px;
  --AppNavigationBar-padding: .5rem;

  --BudgetGroupGridCols: 2fr 1fr 1fr;
  --BudgetGroupGridGap: .5rem;

  --InputHoverBackground: #f2f2f2;
  
  font-size: 16px;
  color: var(--font-color);
}

