.Login {
  background: var(--background-gradient);
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Login hr {
  width: 90%; 
}

.login--content-container {
  border-radius: var(--border-radius);
  background: whitesmoke;
  box-shadow: var(--box-shadow);
  /* height: 50%; */
  /* min-height: 300px; */
  max-height: 500px;
  width: 90%;
  max-width: 500px;
}

.login--title {
  text-align: center;
  padding: 1rem;
}

.login--input {
  width: 100%;
  margin: 10px auto;
}

.login--submit-btn {
  border: 3px solid transparent;
}

.login--grid-container {
  width: 90%;
  margin: auto auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "form form"
    "cancel-link register-link"
  ;
  grid-gap: 1rem; 
}
#login--form {
  grid-area: form;
}
#login--cancel-link {
  grid-area: cancel-link;
  justify-self: start;
}
#login--register-link {
  grid-area: register-link;
  justify-self: end;
}
.login--link {
  color: darkblue;
  text-decoration: none;
}
.login--link:visited {
  color: purple;
}
.login--link:hover {
  color: red;
}
