.AppNavigationBar {
    border-right: 1px solid var(--font-color);
    background: white;
    padding: var(--AppNavigationBar-padding);
    height: 100%;
    min-height: 100vh;
    width: 280px;
    position: fixed;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 1rem;
}

.AppNavigationBar__image-container {
    padding: 1rem;
    display: grid;
    justify-self: center;
    align-self: center;
}

.AppNavigationBar svg {
    height: 100px;
    width: auto;
    color: var(--pri-color);
    margin: auto;
}

.AppNavigationBar__navigation {
    border-top: 2px solid whitesmoke;
    padding-left: 10%;
    display: grid;
    grid-gap: 1rem;
}

.AppNavigationBar__navigation-top {
    align-self: center;
}

.AppNavigationBar__navigation-bottom {
    align-self: end;
}

.AppNavigationBar__navigation-li {
    margin: 1rem auto;
    font-size: 1rem;
}

.AppNavigationBar__navigation-link {
    text-decoration: none;
    color: var(--font-color);
}
.AppNavigationBar__navigation-link:hover {
    color: black;
}
.AppNavigationBar__navigation-link .fa {
    min-width: 20px;
}
.AppNavigationBar__navigation-description {
    margin-left: 15px;
}

.AppNavigationBar__nametag {
    border-top: 2px solid whitesmoke;
    display: grid;
    grid-template-areas:
        "icon email"
        "icon link"
    ;
    grid-gap: 10px;
}
.AppNavigationBar__nametag-icon {
    border: 1px solid var(--font-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;
    display: inline-block;
    grid-area: icon;
    justify-self: center;
    align-self: center;
}
.AppNavigationBar__nametag-email {
    grid-area: email;
    align-self: end;
}
.AppNavigationBar__nametag-link {
    display: block;
    grid-area: link;
}

@media screen and (max-width: 1200px) {
    .AppNavigationBar {
        grid-gap: 0px;
        width: initial;
        max-width: 67.02px;
    }
    .AppNavigationBar__image-container {
        padding: initial !important;
    }
    .AppNavigationBar svg {
        height: 30px;
    }
    .AppNavigationBar__navigation {
        padding-left: initial;
        grid-gap: 0px;
    }
    .AppNavigationBar__navigation-li {
        display: grid;
        justify-items: center;
    }
    .AppNavigationBar__navigation-description {
        margin-left: 0px;
    }
    .AppNavigationBar__navigation-link .fa {
        min-width: 0px;
    }
    .AppNavigationBar__nametag {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .AppNavigationBar__nametag-link {
        margin-top: 5px;
        font-size: .7rem;
        text-align: center;
    }
    .AppNavigationBar__navigation-description,
    .AppNavigationBar__nametag-email {
        display: none;
    }
}