.MonthSelectorDropdown {
    border: 1px solid var(--progress-bar-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: absolute;
    z-index: 1;
    background: white;
    bottom: calc(0px - 5rem);
    padding: 1rem 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.MonthSelectorDropdown__month-box {
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin: 0 .5rem;
    width: 50px;
    height: 50px;
    line-height: 1.15;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month-box--future {
    border: 1px dashed black;
}
.month-box--selected {
    border: 1px solid var(--pri-color);
}

.month-box__month {}
.month-box__year {
    font-size: .65rem;
}

.MonthSelectorDropdown__caret-btn {
    font-size: 1.5rem;
    position: absolute;
    top: calc(50% - 16px);
    z-index: 2;
}

.MonthSelectorDropdown__caret-btn i {
    position: relative;
    z-index: -1;
}

.MonthSelectorDropdown__caret-btn:first-of-type {
    left: 0px;
}

.MonthSelectorDropdown__caret-btn:last-of-type {
    right: 8px;
}