.BudgetGroupLineItem {
    border-bottom: 2px solid lightgrey;
    background: white;
    position: relative;
    margin: .5rem auto;
    padding: .5rem 0;
    display: grid;
    grid-template-columns: var(--BudgetGroupGridCols);
    grid-gap: var(--BudgetGroupGridGap);
}

.BudgetGroupLineItem--focus {
    z-index: inherit;
}
.BudgetGroupLineItem--focus:before {
    position: absolute;
    top: -.8rem;
    right: -2.4rem;
    bottom: -.8rem;
    left: -2.4rem;
    z-index: 1;
    border-radius: .4rem;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(31,36,38,.16);
    background: #fff;
    content: "";
}

.BudgetGroupLineItem__fund-icon {
    position: absolute;
    color: var(--blue);
    top: 17px;
}

.BudgetGroupLineItem--fund .BudgetGroupLineItem__input:first-of-type {
    margin-left: 2rem;
}

.BudgetGroupLineItem__input {
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    position: relative;
    background: transparent;
    font-size: 1rem;
    color: var(--text-color);
    padding: .5rem;
    position: relative;
    left: -.5rem;
}
.BudgetGroupLineItem--editable {
    transition: background .25s;
    outline: none;
}
.BudgetGroupLineItem--editable:hover {
    background: var(--InputHoverBackground);
}
.BudgetGroupLineItem--editable:focus {
    border-color: var(--blue);
    background: white !important;
}
.BudgetGroupLineItem__input--right {
    text-align: right;
    width: fit-content;
    justify-self: right;
    max-width: 120px;
    left: initial;
    right: -.5rem;
    position: relative;
}

.BudgetGroupLineItem__progress {
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.BudgetGroupLineItem__options-btn {
    border: none;
    font-size: 1rem;
    color: var(--blue);
    cursor: pointer;
    background: transparent;
    position: absolute;
    display: none;
}

.BudgetGroupLineItem__options-btn--trash {
    color: var(--red);
    top: 16px;
    left: -35px;
}
.BudgetGroupLineItem__options-btn--up {
    top: 0;
    right: -30px;
}
.BudgetGroupLineItem__options-btn--down {
    bottom: 0;
    right: -30px;
}

.BudgetGroupLineItem--focus .BudgetGroupLineItem__options-btn {
    display: block;
}
