.Landing {
  background: var(--background-gradient);
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 2fr;

}
.landing-title {
  /* text-align: center; */
  /* padding: 2rem; */
  justify-self: center;
  align-self: center;
}
.landing-logo {
  max-height: 200px;
  width: auto;
  display: block;
  justify-self: center;
  align-self: center;
}
.landing-btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
}