.MonthSelector {
    position: relative;
}

.MonthSelector__month {
    margin-bottom: 1rem;
    grid-area: month-selector;
    display: flex;
    align-items: center;
}

.MonthSelector__month span:first-child {
    margin-right: 10px;
}

.MonthSelector__left-to-budget {
    grid-area: left-to-budget;
}