.BudgetGroup {
    background: white;
    border-radius: var(--budget-group-border-radius);
    box-shadow: 0px 0px 10px -3px var(--font-color);
    padding: var(--group-padding);
    min-width: 500px;
    position: relative;
    display: grid;
    grid-template-columns: var(--BudgetGroupGridCols);
    grid-gap: var(--BudgetGroupGridGap);
    grid-template-areas: 
        'header planned received'
        'list list list'
    ;
    align-items: center;
}

.BudgetGroup__header {
    /* display: inline-block; */
    grid-area: header;
}

.BudgetGroup__caret-icon {
    border: none;
    font-size: 20px;
    color: var(--blue);
    margin-left: .5rem;
    cursor: pointer;
    outline-color: var(--blue);
}

.BudgetGroup__caret-icon i {
    font-size: 20px;
}

.BudgetGroup__column--right {
    text-align: right;
}

.column-header__planned {
    /* grid-area: planned; */
}

.column-header__received {
    /* grid-area: received; */
}

.BudgetGroup__line-item-list {
    grid-area: list;
}

.BudgetGroup__add-item-btn {
    border: none;
    background: white;
    position: relative;
    left: -.5rem;
    font-size: 1rem;
    color: var(--blue);
    cursor: pointer;
    justify-self: start;
}
.BudgetGroup__add-item-btn:hover {
    color: var(--dark-blue);
}

/* ================================================= */

